Animation/
\!Base64Encode.cmd
AngryDadFontFullNoKerning.woff2
ScribblesNo_ligatures.woff2
ScribblesVariantNo_ligatur-Rg.woff2
AngryDadFontFullNoKerning.b64
ScribblesNo_ligatures.b64
ScribblesVariantNo_ligatur-Rg.b64